/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* Q1 Answer) .container를 감싸는 .wrapper 추가하여 viewport 전체 너비를 가지게 하고 배경색을 입혀준다. */
.wrapper {
  width: 100%;
  background: #23424a;
}

.container {
  margin: 0 auto;
  padding: 50px 0;
  width: 80%;
  /* Q1 Answer) width가 80%이기 때문에 viewport에 비례하여 너비가 증가한다. 그러므로 .container의 최대 너비를 제한시키서 750px을 넘기면 더이상 늘어나지 않게 한다. */
  max-width: 750px;
  color: white;
}

.intro-content {
  width: 50%;
}

/* Q2 Answer) 텍스트 전체가 최대 너비를 가져야하기 때문에 .container와 동일한 width인 80%와 max-width를 750px을 적용한다. */
/* 또한 레이아웃이 정렬이 왼쪽 정렬이 되어 margin:0 auto를 적용했다. */
.text-container {
  margin: 0 auto;
  width: 80%;
  max-width: 750px;
}
