* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.parent {
  background-color: #23424a;
  margin: 0 auto;
  padding: 50px;
  width: 80%;

  /* overflow: hidden; */
}

.child {
  background-color: #38cfd9;
  /* 보통 height는 적용하지 않지만 시작하기 위해 적용하였습니다. */
  height: 250px;

  /* 2강 포인트. Percentages on the child */

  /* 부모 요소의 너비가 %로 뷰포트가 줄어들면 함께 너비가 줄어드는데 부모 요소의 너비가 자식의 고정값보다 작아지면 자식요소가 부모 요소의 밖으로 튀어나오고 가로 스크롤 바가 활성화되는 문제가 발생한다. */
  /* 또한 그 자식 요소 내에 긴 텍스트가 존재한다면 줄바꿈이 이루어지지 않아 내용을 한눈에 보기 힘들다. */
  /* 자식 요소가 넘친다고 해서 부모요소에 overflow:hidden을 한다고 해서 문제가 해결되지 않는다. 오히려 텍스트가 잘려 확인할 수 없는 문제가 발생한다.  */
  /* width: 750px; */

  /* 자식 요소의 %는 부모 요소의 너비의 %로 계산한다. */
  /* 그래서 부모요소의 너비를 넘을 일이 없어진다. */
  width: 50%;
}
